*{
    padding: 0; margin: 0;
    box-sizing: border-box;
    transition: all .2s linear;
    text-decoration: none;

}
header {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: .1rem solid #fff;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    padding: .5rem 4%;
    position: fixed;
    background-color: #fff;
    z-index: 10000;
    top: 0;
    left: 0;
    right: 0;

}

header .logo {
    font-size: 3rem;
    margin-left: 1rem;
    color: gray;

}

header .logo i {
    font-size: 2.5rem;
    color: #ff5421;
    margin-right: .2rem;
}

#menu-bar {
    font-size: 2.5rem;
    align-items: center;
    padding: .6rem 3rem .6rem 0;
    color: gray;
    display: none;
}

header .logo span {
    color: #ff5421;
}

header nav a {
    margin-right: 1.5rem;
    color: gray;
}

@media screen and (max-width:950px) {
    header {
        font-size: 1.9rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: .1rem solid #fff;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        padding: .4rem .1%;

    }

    header .logo {
        /* margin-right: auto; */
        font-size: 2.5rem;
        margin-left: 1rem;
        color: gray;

    }

    header .logo i {
        font-size: 2.2rem;
        color: #ff5421;
        margin-right: .2rem;
    }

}

@media screen and (max-width:785px) {
    header {
        background-color: #fff;
    }

    #menu-bar {
        display: initial;
    }

    header .navbar {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background: #f7f7f7;
        border-top: .1rem solid rgba(0, 0, 0, .1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    }

    header .navbar.active {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    }

    header .navbar a {
        margin: 1.5rem;
        padding: 1.5rem;
        display: block;
        border: .2rem solid rgba(0, 0, 0, .1);
        border-left: .5rem solid #ff5421;
        background: #fff;
    }
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 20000;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.loader-container.fade-out {
    top: -120%;
}

.section h2{
    text-align: center;
    font-size: 3rem;
}
.section h2 span{
    color: #ff5421;
}
h3{
    font-size: 2.3rem;
    text-align: center;
    
}
p{
    font-size: 1.8rem;
    padding-left: 1rem;
    
}
.box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin: 1rem 4rem;
}
.box-container .box{
    flex: 1 1 30rem;
    border: 1px solid #fff;
    padding-bottom: 1rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.1);
    border-radius: .5rem;


}
.box-container .box .image img{
    height: 25rem;
    width: 100%;
    object-fit: cover;
}
.box-container .box .image{
    overflow: hidden;
    height: 25rem;
}
.box-container .box:hover img{
    transform: scale(1.1);
}
.section{
    padding-top: 5rem;
    
}
@media screen and (max-width:500px){
    .box-container{
        margin: 1rem 1rem;
    }
    .section h2{
        font-size: 1.8rem;
        padding-top: .5rem;
    }
    
}
@media screen and (max-width:400px) {
    

    .section h2 {
        font-size: 1.8rem;
        padding-top: .5rem;
    }
    .section p{
        font-size: 1.2rem;
    }
    h3 {
        font-size: 1.5rem;
        text-align: center;

    }

}
@media screen and (min-width:2000px) {
    .section{
        max-width: 2500px;
        margin: 0 auto;
       
    }

}
